* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #379937;
}


.dropdown {
  position: relative;
  font-size: 14px;
  color: #333;
  overflow: visible;
  text-align: left;
  width:100%;
  background: white;


  .dropdown-list {
    padding: 12px;
    position: absolute;
    top: 60px;
    left: 2px;
    right: 2px;
    columns: 3;
    width:max-content;
    background-color: white;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform .15s ease-in-out .15s;
    max-height: 66vh;
    overflow-y: scroll;
    overflow: visible;
    z-index: 1;
    text-align: left;
  }
  .dark-mode .dropdown-list {
    background-color: black;

  }
  
  .dropdown-option {
    display: block;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    overflow: visible;
  }
  
  .dropdown-label {
    display:block;
    height:max-content;
    width:100%;
    border: 1px solid #ccc;
    padding: 6px 12px;
    white-space: pre-wrap;
    overflow:auto;
    cursor: pointer;
    
    &:before {
      content: '▼';
      float: right;
    }
  }

  &.on {
   .dropdown-list {
      transform: scale(1, 1);
      transition-delay: 0s;
      overflow: visible;
      
      .dropdown-option {
        opacity: 1;
        transition-delay: .2s;
        overflow: visible;
      }
    }
    
    .dropdown-label:before {
      content: '▲';
    }
  }
  
  [type="checkbox"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
    color: #379937;
  }
}

.dark-mode .dropdown {
  color: white;
  background-color: #333;
}
.dark-mode .dropdown-list {
  color: white;
  background-color: #333;
}
