
.container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    }
html {	
	font-size: 16px;
}
body {
	background: slategray;
	margin: 0;
	overflow-y: scroll;
	padding: 2ch;
	text-align: center;
}
.dark-mode {
  background: black;
  color: white;
}
.scale {
  height: 1.5em;
  width: 1.5em;
}
.scale2 {
  height: 1.57em;
  width: 1em;
}
.input_label{
  font-size: 18px;
}
    .input {
      border: 2px solid rgba(0, 0, 0, 0.6);
      background-image:none;
      background-color: #dadad3;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 5px;
    }
    .dark-mode .input, textarea {
      background-color: #5c5c5c;
    }
    * {
      box-sizing: border-box;
      font-family: 'Quantico', sans-serif;
    }

    .row {
      display: flex;
      margin-left:-5px;
      margin-right:-5px;
    }    
    .column_2 {
      float: left;
      flex: 20%;
      padding: 5px;
    }
    .column_narrow {
      float: left;
      flex: 25%;
      padding: 5px;
    }
    .column_wide {
      float: left;
      flex: 65%;
      padding: 5px;
    }
    .column_mid {
      float: left;
      flex: 10;
      padding: 5px;
    }
    .column_1 {
      float: left;
      flex: 35%;
      padding: 5px;
    }
    .column_0 {
      float: left;
      flex: 50%;
      padding: 5px;
    }
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    td {
      text-align: left;
      padding: 2px;
    }
    tr:nth-child(even) {
      text-align: left;
      padding: 2px;
    }

    /* Style the button that is used to open and close the collapsible content */
    th.rotated-text {
        height: 140px;
      font-size: 14px;
      white-space: nowrap;
      padding: 0 !important;
  }
  
  th.rotated-text > div {
      transform:rotate(-90deg);
      width: 30px;
  }
  
  th.rotated-text > div > span {
      padding: 0px 15px;
  }

  .collapsible {
  background-color: rgba(170, 173, 115, 0.199);
  border-color: #F3D734;
  border-width: 5px;
  font-family: 'Quantico', sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #8FF566
}
.dark-mode .active {
  background-color: #044965
}
.dark-mode .collapsible:hover {
  background-color: #044965
}


.dark-mode .table-striped
{
  color : white
}

.dark-mode .table-striped>tbody>tr:nth-child(odd)
{
  color : white
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: auto;

  transition: max-height 0.2s ease-out;
}
.dark-mode {
  background-color: black;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 0.5px solid #333;
  border: 0.5px solid white;
  width: 12px;
  height: 12px;
  
}

input[type='radio']:checked {
  background: #333;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  Vertical-align:middle;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  Vertical-align:middle;
  height: 0;
}
[class*="slider-"]
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  Vertical-align:middle;
  background-color: #ccc;  
  -webkit-transition: .4s;
  transition: .4s;

}
.slider-p {
  background-color: #ccc;  
}

.slider-zone {
  background-color: rgb(155,195, 225);
}

[class*="slider-"]:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  Vertical-align:middle;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + [class*="slider-"] {
  background-color: #8FF566;
}
.dark-mode input:checked + [class*="slider-"] {
  background-color: #044965;
}

input:focus + [class*="slider-"] {
  box-shadow: 0 0 1px #8FF566;
}

input:checked + [class*="slider-"]:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.sliderWrapper{display: inline-block;margin:24px 24px 24px 24px;}
.sliderWrapper div{display: inline-block;}

.irs--round .irs-bar {
  background-color: #00C2C0;
}

.irs--round .irs-handle {
 background-color: #00C2C0;
 border-color: #00C2C0;
 box-shadow: 0px 0px 0px 5px rgba(0, 194, 192, 0.2);
}

.irs--round .irs-handle.state_hover, 
.irs--round .irs-handle:hover {
  background-color: #00C2C0;
}

.irs--round .irs-handle {
 width: 16px;
 height: 16px;
 top: 29px
}

.irs--round .irs-from, 
.irs--round .irs-to, 
.irs--round .irs-single {
 background-color: transparent;
 color: #666666;
}

.irs--round .irs-from:before, 
.irs--round .irs-to:before, 
.irs--round .irs-single:before,
.irs--round .irs-min, 
.irs--round .irs-max {
 display: none;
}

td.details-control {
  text-align:center;
  color:forestgreen;
  cursor: pointer;
}
tr.shown td.details-control {
text-align:center; 
color:red;
}

/* Check out later: https://bbbootstrap.com/snippets/accordion-hover-effect-26103860 */

.mt-100 {
  margin-top: 50px;
}

h2 {
color: darkgreen;
}

#css-dropdown
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 42px;
  margin: 100px auto 0 auto;
}


