<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>Defi Kingdoms Matchmaker</h2>

<form action="ID" method="post">
  <label for="hero_ID_1">Hero ID #1:</label><br>
  <input type="text" id="hero_ID_1" name="hero_ID_1" value="" class="input"><br>
  <label for="hero_ ID_2">Hero ID #2:</label><br>
  <input type="text" id="hero_ID_2" name="hero_ID_2" value=""><br>
  <input type="submit" value="See Genetic Makeup">
</form> 
<input id="matches" value="Find Matches" type="button" class="pixel"/>
<p>Returns potential heroes</p>
<div class="row">
  <div class="column_1">
    <h2>Gene - Hero {{ hero_ID_1 }}</h2>
<table id="hero1_data">
  <thead>
  <tr>
    <th>Gene</th>
    <th>D</th>
    <th>R1</th>
    <th>R2</th>
    <th>R3</th>
  </tr>
</thead>
</table>
</div>
<div class="column_1">
<h2>Gene - Hero {{ hero_ID_2 }}</h2>
<table id="hero2_data">
  <thead>
  <tr>
    <th>Gene</th>
    <th>D</th>
    <th>R1</th>
    <th>R2</th>
    <th>R3</th>
  </tr>
  </thead> 
</table>
</div>
</div>

<h2> Potential Summon </h2>

<div id = "summon_div", class="row">
  
</div>

<h2> Potential Matches in Auction House </h2>
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Total Score</th>
      <th>Class Score</th>
      <th>Attri Score</th>
      <th>Class</th>
      <th>Sub Class</th>
      <th>Rarity</th>
      <th>Generation</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
  var id_1
  var attris = new Array()
  attris[0] = "Primary_Class"
  attris[1] = "Sub_Class"
  attris[2] = "Passive_1"
  attris[3] = "Passive_2"
  attris[4] = "Active_1"
  attris[5] = "Active_2"
  attris[6] = "Profession"
  $(document).ready(function() {
    var empty_matches = null
    tables = document.getElementById("summon_div")
    for (attri in attris) {
       div = document.createElement("div");
       div.className = "column_2" ;
       tab = document.createElement("table");
       tab.id = attris[attri];
       th = document.createElement("thead");
       tr = document.createElement("tr");
       row_head1 = document.createElement("th");
       row_head2 = document.createElement("th");
       row_head1.innerHTML = attris[attri];
       row_head2.innerHTML = "likelihood";
       th.appendChild(row_head1);
       th.appendChild(row_head2);
       tab.appendChild(th) ;
       tab.className = "table table-striped";
       div.appendChild(tab);
       tables.appendChild(div);
    }
    var table_data = $('#data').DataTable({ 
      data : empty_matches, searching : false, info : false,
      retrive : true,
      "aaSorting": [1, "desc"],
      columns: [
        {data: "ID"},
        {data: "Total Score"},
        {data: "Class Score"},
        {data: "Attrib Score"},
        {data: "Class"},
        {data: "Sub Class"},
        {data: "Rarity"},
        {data: "Generation"},
        {data: 'Price'}
      ]
    });
    $('#hero1_data').DataTable({ 
      data : empty_matches,
      retrive :true, searching : false, info : false, paging : false, 
      "aaSorting": [],
      columns: [
        {data: "type"},
        {data: "D"},
        {data: "R1"},
        {data: "R2"},
        {data: "R3"}
      ]
    });
    $('#hero2_data').DataTable({ 
      data : empty_matches, 
      retrive : true, searching : false, info : false, paging : false,
      "aaSorting": [],
      columns: [
        {data: "type"},
        {data: "D"},
        {data: "R1"},
        {data: "R2"},
        {data: "R3"}
      ]
    });
    for (attri in attris) {
    $('#' + attris[attri]).DataTable(
      { 
      data : empty_matches,
      retrive : true, searching : false, info : false, paging : false,
      "aaSorting": [],
      columns: [
        {data: "name"},
        {data: "chance"},
      ]
    });
  };
  });
    
  $("#matches").on('click', function() {
    var matches
    var gene_response
    var d_table
    id_1 = $('#hero_ID_1').val()
    $.ajax({
         'type': 'POST',
         'async': false,
         'url': '/api/update',
         'dataType' : 'json',
         'data': $('#hero_ID_1').serialize(), 
         'success': function(res) {    
          matches = res
          }, 
         'error': function(error) {  

         }
    })
   $('#hero1_data').DataTable().clear().rows.add(matches.hero1).draw();
   table_data = $('#data').DataTable().clear().rows.add(matches.matches).draw();

  });
  $('#data').on('click', 'tbody tr', function () {
        var row_data = table_data.row($(this)).data();
        alert("clicked")
        $.ajax({ 
          url: '/api/match', 
          type: 'POST', 
          data: JSON.stringify({'id_2' : row_data.ID, 'id_1' : id_1}),
          'dataType': 'json',
          success: function(response){ 
            for (attri in attris) {
              $('#' + attris[attri]).DataTable().clear().rows.add(response.summon[attri]).draw();
            }
            $('#hero2_data').DataTable().clear().rows.add(response.hero2).draw();
          } 
        })
    });
</script>

</body>
</html>