<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}")>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:rgba(170, 173, 115, 0.199)">
<h1><img class="scale" src="{{url_for('static', filename='heart.png')}}" /> Defi Kingdoms Matchmaker <img class="scale" src="{{url_for('static', filename='heart.png')}}" /></h1>
<p>Third Party App, not affliated with DFK Kingdoms, likelihood and scoring are a guide only based on public avaliable information and not calculated by Harmony heroes smartcontract</p>
<p></p>
<p>Minor update 15 May 22, now users can click on 'Gene Details' column to see the genes without having to match</p>
<P>Please check out this project's DFK Build grant submission <a href="https://build.defikingdoms.com/t/dfk-matchmaker-dfkmatchmaker-herokuapp-com/162" target="_blank">here</a> </P>

<p>Tips <a data-toggle="tooltip" title="If this proves to be useful for enough people, tips will go towards upgrade heroku servers and future functionality upgrades">&#x1F6C8;</a> are greatly appreciated @ 0xA5aed0dA6d7Ae07815b044702179192eAe5e3984  <i id='copy_tip' class="fa fa-copy" style="cursor:pointer"></i></p>
<p><a href="https://twitter.com/DfkMatchmaker?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @DfkMatchmaker</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<button type="button" class="collapsible" text-align="cent"><a data-toggle="tooltip" title="Search against Auction Houses">&#x1F6C8;</a> Search Auction House(s)</button>
<div class="content"><br>
  <p>Instruction: Enter your hero ID (no need to add the 1 + twelve 0s infront for Crystalvale hero, simply use the toggle next to the input box)</p>
  
  <label class="input_label" for="hero_ID_1"><a data-toggle="tooltip" title="Enter hero ID you wish to find matches for">&#x1F6C8;</a> Hero ID #1:<img class="scale2" src="{{url_for('static', filename='heart_left.png')}}" /></label>
<input type="text" id="hero_ID_1" name="hero_ID_1" value="">
<input id="matches" value="Find Matches" type="button" class="pixel"/>

<div class="sliderWrapper">
<div><img src={{url_for('static', filename='crystal.png')}} wide='20' height='20'/> Hero </div>   
<label class="switch">
    <input id="bool_zone" type="checkbox" checked>
    <span class="slider-zone">
    </span> 
</label>
<div><img src={{url_for('static', filename='jewel.png')}} wide='20' height='20'/> Hero</div>
</div>
<p></p><p font-size="24px">or</p>
<label class="input_label" for="contract_add"><a data-toggle="tooltip" title="Enter your contract address">&#x1F6C8;</a> Wallet Address (0x...):<img class="scale2" src="{{url_for('static', filename='heart_left.png')}}" /></label>
<input type="text" size="50" id="contract_add" name="contract_add" value="">
<fieldset id="hero_list" align="left" display:"flex" margin-left:10px float:"left" > 
</fieldset>
<p></p><p></p>
<div class="sliderWrapper">
<div>search for same Generation No. only</div>
<label class="switch">
  <input id="bool_gen" type="checkbox" checked>
  <span class="slider-p">
  </span> 
</label>
</div>

<div class="sliderWrapper">
  <div>search for same no. of Summons remaining only</div>
  <label class="switch">
    <input id="bool_summons" type="checkbox" checked>
    <span class="slider-p">
    </span> 
  </label>
  </div>

</div>
<p></p>

<button type="button" class="collapsible" text-align="cent"><a data-toggle="tooltip" title="Manually enter ID of the second hero rather than searching the Auction House">&#x1F6C8;</a> Manual Match</button>
<div class="content"><br>
  <p>Instruction: Enter your hero ID (no need to add the 1 + twelve 0s infront for Crystalvale hero, simply use the toggle under the input box)</p>
  <div class="row">
    <div class="column_1">
      <label for="hero_ID_1_m">Hero ID #1: <img class="scale2" src="{{url_for('static', filename='heart_left.png')}}" /></label><br>
      <input type="text" id="hero_ID_1_m" name="hero_ID_1_m" value=""><br>  
      <div class="sliderWrapper">
        <div><img src={{url_for('static', filename='crystal.png')}} wide='20' height='20'/> Hero </div>   
        <label class="switch">
            <input id="bool_zone_m1" type="checkbox" checked>
            <span class="slider-zone">
            </span> 
        </label>
        <div><img src={{url_for('static', filename='jewel.png')}} wide='20' height='20'/> Hero</div>
        </div>
  </div>
  <div class="column_1">
    <label for="hero_ID_2"><img class= "scale2" src="{{url_for('static', filename='heart_right.png')}}" />Hero ID #2:</label><br>
    <input type="text" id="hero_ID_2" name="hero_ID_2" value=""><br>  
    <div class="sliderWrapper">
      <div><img src={{url_for('static', filename='crystal.png')}} wide='20' height='20'/> Hero </div>   
      <label class="switch">
          <input id="bool_zone_m2" type="checkbox" checked>
          <span class="slider-zone" >
          </span> 
      </label>
      <div><img src={{url_for('static', filename='jewel.png')}} wide='20' height='20'/> Hero</div>
      </div>
  </div>
  </div>
  <input id="manual_match" type="button" value="Calculate Summon">
</div>

<p></p>

<button type="button" id="genetic_button" class="collapsible" text-align="cent">Hero Genetic Info</button>
<div class="content" id="hero_collapse"><br>
<div class="row" style="overflow-x:auto;">
  <div class="column_1">
    <h3><text id="hero1_text"> Gene - Hero </text> <img class="scale2" src="{{url_for('static', filename='heart_left.png')}}" /></h3>
<table id="hero1_data">
  <thead>
  <tr>
    <th>Gene</th>
    <th>D</th>
    <th>R1</th>
    <th>R2</th>
    <th>R3</th>
  </tr>
</thead>
</table>
</div>
<div class="column_1" >
<h3> <img class="scale2" src="{{url_for('static', filename='heart_right.png')}}" /> <text id="hero2_text"> Gene - Hero </text> </h3>
<table id="hero2_data">
  <thead>
  <tr>
    <th>Gene</th>
    <th>D</th>
    <th>R1</th>
    <th>R2</th>
    <th>R3</th>
  </tr>
  </thead> 
</table>
</div>
</div>
</div>
<p></p>
<button type="button" class="collapsible" text-align="cent"><a data-toggle="tooltip" title="See Notes section on algorithm source">&#x1F6C8;</a>Summoning Probabilities</button>
<div class="content"><br>
<h3><img class="scale" src="{{url_for('static', filename='heart.png')}}" /></h3>
<p><text id="hero1_det"></text></p>
<p><text id="hero2_det"></text></p>
<p>Mutations in <font color='red'>red</font></p>
<div id = "summon_div", class="row">
</div>
</div>
</div>
<p></p>
<button type="button" id="match_button" class="collapsible" text-align="cent"><a data-toggle="tooltip" title="Based on data periodically pulled from Sales Auction House (Rent auction, to be implemented) ">&#x1F6C8;</a>Potential Matches</button>
<div class="content" style="overflow-x:auto;"><br>
  <p>To Calculate Match Probabilities, Click on any row in the table below </p>
  <p id="time"> </p>

<table id="data" class="table table-striped" style="cursor:pointer">
  <thead>
    <tr>
      <th>Summoned From</th>
      <th> <img class="scale2" src="{{url_for('static', filename='heart_right.png')}}" /> ID </th>
      <th>Total Score<a data-toggle="tooltip" title="Aggretate score of likely Class and Skill upgrade">&#x1F6C8;</a></th>
      <th>Class Score<a data-toggle="tooltip" title="Based on likelihood of complementary class being selected in the summoning process (higher score means higher chance of class upgrade in summon)">&#x1F6C8;</a></th>
      <th>Skill Score<a data-toggle="tooltip" title="Based on likelihood of complementary skill being selected in the summoning process (higher score means higher chance of skill upgrade in summon) averaged over all 4 skills">&#x1F6C8;</a></th>
      <th>Gene Details</th>
      <th>Summons</th>
      <th>Class</th>
      <th>Sub Class</th>
      <th>Rarity</th>
      <th>Generation</th>
      <th>Sale Price</th>
      <th>Rent Price</th>
      <th>Currency (Auctioned in)</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</div>
<p></p>
<button type="button" class="collapsible" text-align="cent"> Notes</button>
<div class="content"><br>
<p>Thanks to <a href="https://github.com/0rtis/dfk/tree/master/hero" target="_blank">0tis</a> for Hero and Auction House API code  </p>
<p>Thanks to Mr Zipper for <a href="https://medium.com/@MrZipper7/deep-dive-hero-genetics-975902dfbf80" target="_blank">Class</a> and <a href="https://medium.com/@MrZipper7/deep-dive-active-passive-genes-68315567361c" target="_blank" rel="noopener noreferrer">Skills/Combat </a>Summoning Algorithms  </p>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script src="{{url_for('static', filename='novalue.js')}}"></script>
<script src="{{url_for('static', filename='draw_table.js')}}"></script>
<script>
  var id_1
  var attris = new Array()
  attris[0] = "Primary_Class"
  attris[1] = "Sub_Class"
  attris[2] = "Profession"
  attris[3] = "Passive_1"
  attris[4] = "Passive_2"
  attris[5] = "Active_1"
  attris[6] = "Active_2"
  attris[7] = "StatBoost1"
  attris[8] = "StatBoost2"
  attris[9] = "Rarity"

var coll = document.getElementsByClassName("collapsible");
var i;
var global_from_wallet = false

function populate_matches(id_1, matches) {
  $('#hero1_data').DataTable().clear().rows.add(matches.hero1).draw();
  table_data = $('#data').DataTable().clear().rows.add(matches.matches).draw();
  document.getElementById("hero1_text").innerHTML = "Hero Data for: " + id_1
  $('#hero2_data').DataTable().clear().draw();
  document.getElementById("time").innerHTML = "Auction House data last update: " + matches.last_update + " current time: " + matches.current_time;
  toggleCollapse(coll[2], 1)
  toggleCollapse(coll[3], 2)
  toggleCollapse(coll[4], 1)
}
function scrollto(element) {
  $([document.documentElement, document.body]).animate({
        scrollTop: $(element).offset().top
    }, 200);
}

function get_options(check_zone){
  if (check_zone){
    bool_zone = document.getElementById("bool_zone").checked
  } else{
    bool_zone = true
  }
  return JSON.stringify({
    'bool_gen' : document.getElementById("bool_gen").checked,
    'bool_summons' : document.getElementById("bool_summons").checked,
    'bool_zone' : bool_zone
  })
}
function remove_non_int(str){
  return str.replace(/\D/g,'')
}
function toggleCollapse(coll, i) {
    var content = coll.nextElementSibling;
    if (i == 0) {
      coll.classList.toggle("active");
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    } else if (i == 1) {
      if (content.style.maxHeight){
        content.style.maxHeight = content.scrollHeight + "px";
      } else {
        coll.classList.toggle("active");
        content.style.maxHeight = content.scrollHeight + "px";
      }
    } else {
      if (content.style.maxHeight){
        coll.classList.toggle("active");
        content.style.maxHeight = null;
      } else {
      }
    }
}

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    toggleCollapse(this, 0)   
  });
}
  $(document).ready(function() {
    var empty_matches = null
    toggleCollapse(coll[0], 1)
    tables = document.getElementById("summon_div")
    for (attri in attris) {
       div = document.createElement("div");
       div.className = "column_2" ;
       tab = document.createElement("table");
       tab.id = attris[attri];
       th = document.createElement("thead");
       tr = document.createElement("tr");
       row_head1 = document.createElement("th");
       row_head2 = document.createElement("th");
       row_head3 = document.createElement("th");
       row_head1.innerHTML = attris[attri];
       row_head2.innerHTML = "likelihood";
       tr.appendChild(row_head1);
       tr.appendChild(row_head2);
       tr.appendChild(row_head3);
       th.appendChild(tr);
       tab.appendChild(th) ;
       tab.className = "table table-striped";
       div.appendChild(tab);
       tables.appendChild(div);
    }
    
    var table_data = $('#data').DataTable({ 
      data : empty_matches, searching : false, info : false,
      retrive : true,
      'scrollY': '50vh',
      responsive : true,
      "aaSorting": [2, "desc"],
      "pageLength" : 50,
      columns: [
        {data: "summoned_from",
        render: function(data, type, row, meta){
            if (data == 'CV'){
              return "<img src={{url_for('static', filename='crystal.png')}} wide='20' height='20'/>" + data;
            } else {
              return "<img src={{url_for('static', filename='jewel.png')}} wide='20' height='20'/> " + data;
            }
        }
      },
        {data: "ID"},
        {data: "Total Score"},
        {data: "Class Score"},
        {data: "Attrib Score"},
        {
                className: 'details-control',
                orderable: false,
                data: null,
                defaultContent: '',
                "render": function () {
                         return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                     },
                width:"15px"
        },
        {data: "Summons"},
        {data: "Class"},
        {data: "Sub Class"},
        {data: "Rarity"},
        {data: "Generation"},
        {data: 'Sale'},
        {data: 'Rent'},
        {data: "auction_in",
        render: function(data, type, row, meta){
            if (data == 'Crystal(CV)'){
              return "<img src={{url_for('static', filename='crystal.png')}} wide='20' height='20'/>" + data;
            } else {
              return "<img src={{url_for('static', filename='jewel.png')}} wide='20' height='20'/> " + data;
            }
        }
      } 
      ],
      columnDefs: [
        { type: 'sethigh', targets : [2, 10, 11]}
     ],
    });

    $('#hero1_data').DataTable({ 
      data : empty_matches,
      retrive :true, searching : false, info : false, paging : false, 
      "aaSorting": [],
      responsive : true,
      columns: [
        {data: "type"},
        {data: "D"},
        {data: "R1"},
        {data: "R2"},
        {data: "R3"}
      ]
    });
    $('#hero2_data').DataTable({ 
      data : empty_matches, 
      responsive : true,
      retrive : true, searching : false, info : false, paging : false,
      "aaSorting": [],
      columns: [
        {data: "type"},
        {data: "D"},
        {data: "R1"},
        {data: "R2"},
        {data: "R3"}
      ]
    });
    for (attri in attris) {
    $('#' + attris[attri]).DataTable(
      { 
      data : empty_matches,
      responsive : true,
      retrive : true, searching : false, info : false, paging : false,
      "aaSorting": [2, "desc"],
      columns: [
      {data: 'name',
        render: function ( data, type, row, meta ) {
          if (row.mutated){
            return "<font color='red'>"+data+"</font>";
          }
          return data;
        }},
        {data: 'chance',
        render: function ( data, type, row, meta ) {
          if (row.mutated){
            return "<font color='red'>"+data+"</font>";
          }
          return data;
        }},
        {data: 'chance', 
        visible: false,
        width: 1}
      ],    
        columnDefs: [
        {
          target: 2, visible: false
        }
      ]
      }
    );
  };
  });
  $("#hero_list").on("click","input",function(){
    global_from_wallet = true;
    $.ajax({
         'type': 'POST',
         'async': true,
         'url': '/api/update',
         'dataType' : 'json',
         'data': JSON.stringify({'id_1' : id_1, 'options' : get_options(false)}), 
         'success': function(res) {
            if (res.hero_found == true) {
              scrollto("#match_button")
              populate_matches(id_1, res)
            } else{
              alert("Error: " + res.id + " not found")
            }    
          }, 
         'error': function(error) {  
         }
    })
  });
  $('#contract_add').on('keyup',function(event) {
      if ((!event.ctrlKey) && ($('#contract_add').val().length == 42)) {
        $.ajax({ 
          url: '/api/update_all', 
          type: 'POST', 
          data: JSON.stringify({'contract_add' : $('#contract_add').val()}),
          'dataType': 'json',
          success: function(response){  
            for (attri in attris) {
              $('#' + attris[attri]).DataTable().clear().draw();
            }
            $('#hero2_data').DataTable().clear().draw();
            $('#hero1_data').DataTable().clear().draw();
            $('#hero_list').empty()
            for (var i in response) 
            {
            $('#hero_list').append(
              $('<input>').prop({
                type: 'radio',
                id: response[i].id,
                name: "heroes",
                value: response[i].id
              }))
            $('#hero_list').append(
                $('<label>').prop({ 
                  for: response[i].id,
                }).html("&nbsp;&nbsp" + response[i].id + " " + response[i].desc)
              )            
            $('#hero_list').append($('<br>'))  
            }
            toggleCollapse(coll[0], 1)
            toggleCollapse(coll[1], 2)  
            toggleCollapse(coll[2], 2)
            toggleCollapse(coll[3], 2)
            toggleCollapse(coll[4], 2)
          } 
        })
       }
    })
  $("#manual_match").on('click', function() {
    var bool_zone_m1 = document.getElementById("bool_zone_m1").checked
    var bool_zone_m2 = document.getElementById("bool_zone_m2").checked
    $.ajax({ 
          url: '/api/match', 
          type: 'POST', 
          data: JSON.stringify({'id_2' : remove_non_int($('#hero_ID_2').val()), 'id_1_zone' : bool_zone_m1, 'id_2_zone' : bool_zone_m2, 'id_1' : remove_non_int($('#hero_ID_1_m').val())}),
          'dataType': 'json',
          success: function(response){
            if (response.valid){ 
                for (attri in attris) {
                  $('#' + attris[attri]).DataTable().clear().rows.add(response.summon[attri]).draw();
                }
                $('#hero2_data').DataTable().clear().rows.add(response.hero2).draw();
                $('#hero1_data').DataTable().clear().rows.add(response.hero1).draw();
                toggleCollapse(coll[0], 2)  
                toggleCollapse(coll[3], 1)
                toggleCollapse(coll[2], 1)
                toggleCollapse(coll[4], 2)
                document.getElementById("hero2_text").innerHTML = "Hero Data for: " + $('#hero_ID_2').val()
                document.getElementById("hero1_text").innerHTML = "Hero Data for: " + $('#hero_ID_1_m').val()
                document.getElementById("hero1_det").innerHTML = "Parent 1: " + response.hero1_t
                document.getElementById("hero2_det").innerHTML = "Parent 2: " + response.hero2_t
              } else { 
              alert(response.valid_txt)
            }
            } 
        })
  })  
  $("#copy_tip").on('click', function() {
    navigator.clipboard.writeText('0xA5aed0dA6d7Ae07815b044702179192eAe5e3984')
  })

  $("#matches").on('click', function() {
    var matches
    var gene_response
    var d_table
    id_1 = remove_non_int($('#hero_ID_1').val())
    $.ajax({
         'type': 'POST',
         'async': false,
         'url': '/api/update',
         'dataType' : 'json',
         'data': JSON.stringify({'id_1' : id_1,'options' : get_options(true)}), 
         'success': function(res) {
          if (res.hero_found == true) {
            scrollto("#match_button")   
            populate_matches(id_1, res)
          } else{
            alert("Error: Hero " + res.id + " not found")
          }   
          }, 
         'error': function(error) {  

         }
    })
  });
  $('#data').on( 'length', function ( e, settings, len ) {
    toggleCollapse(coll[4], 1)
  } );
  
  $('#data').on('click', 'tr td', function () {
        var row_data = table_data.row($(this)).data();
        var tr = $(this).closest('tr');
        var tdi = tr.find("i.fa");
        var row = table_data.row(tr);
        var visIdx = $(this).index();
        var dataIdx = table_data.column.index( 'fromVisible', visIdx );
        if (dataIdx == 5) {
          if (row.child.isShown()) {
            tdi.first().removeClass('fa-minus-square');
            tdi.first().addClass('fa-plus-square');
            row.child.hide();
        } else {
            tdi.first().removeClass('fa-plus-square');
            tdi.first().addClass('fa-minus-square');
            row.child(format("subtable-"+row.index())).show();
            sub_DataTable("subtable-"+row.index(), row_data.gene_string); 
            // Add to the 'open' array
            if (dataIdx === -1) {
                detailRows.push(tr.attr('id'));
            }
          }
        }
        else if (dataIdx > 0){
        if (row_data.summoned_from == 'CV'){
          var id_2_zone = false;
        } else {
          var id_2_zone = true;
        }
        if (global_from_wallet) {
          var id_1_zone = true
        } else{
          var id_1_zone = document.getElementById("bool_zone").checked
        }
        $.ajax({ 
          url: '/api/match', 
          type: 'POST', 
          data: JSON.stringify({'id_2' : row_data.ID, 'id_1_zone' : id_1_zone, 'id_2_zone' : id_2_zone, 'id_1' : id_1, 'id1_options' : get_options(true)}),
          'dataType': 'json',
          success: function(response){ 
            if (response.valid){ 
            scrollto("#genetic_button")
            for (attri in attris) {
              $('#' + attris[attri]).DataTable().clear().rows.add(response.summon[attri]).draw();
            }
            $('#hero2_data').DataTable().clear().rows.add(response.hero2).draw();
            document.getElementById("hero2_text").innerHTML = "Hero Data for: " + row_data.ID
            document.getElementById("hero1_det").innerHTML = "Parent 1: " + response.hero1_t
            document.getElementById("hero2_det").innerHTML = "Parent 2: " + response.hero2_t
            toggleCollapse(coll[3], 1);
            toggleCollapse(coll[2], 1)
          } else{
            alert(response.valid_txt)
          }
          } 
        })
    }});
</script>

</body>
</html>