<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}")>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Defi Kingdoms Matchmaker</h1>
<label class="inout_label" for="hero_ID_1"><a data-toggle="tooltip" title="Enter hero ID you wish to find matches for">&#x1F6C8;</a> Hero ID #1:</label>
<input type="text" id="hero_ID_1" name="hero_ID_1" value="">
<input id="matches" value="Find Matches" type="button" class="pixel"/>
<p></p>
<p>Tips <a data-toggle="tooltip" title="If this proves to be useful for enough people, tips will go towards upgrade heroku servers and future functionality upgrades">(&#x1F6C8;</a> are greatly appreciated @ 0xA5aed0dA6d7Ae07815b044702179192eAe5e3984  <i id='copy_tip' class="fa fa-copy" style="cursor:pointer"></i></p>
<p></p>

<button type="button" class="collapsible" text-align="cent"><a data-toggle="tooltip" title="Manually enter ID of the second hero rather than searching the Auction House">&#x1F6C8;</a> Manual Match</button>
<div class="content"><br>
<label for="hero_ ID_2">Hero ID #2:</label><br>
<input type="text" id="hero_ID_2" name="hero_ID_2" value=""><br>
<input id="manual_match" type="button" value="Calcaulate Summon">
</div>

<p></p>

<button type="button" class="collapsible" text-align="cent">Hero Genetic Info</button>
<div class="content" id="hero_collapse"><br>
<div class="row">
  <div class="column_1">
    <h3 id="hero1_text">Gene - Hero </h3>
<table id="hero1_data">
  <thead>
  <tr>
    <th>Gene</th>
    <th>D</th>
    <th>R1</th>
    <th>R2</th>
    <th>R3</th>
  </tr>
</thead>
</table>
</div>
<div class="column_1">
<h3 id="hero2_text">Gene - Hero </h3>
<table id="hero2_data">
  <thead>
  <tr>
    <th>Gene</th>
    <th>D</th>
    <th>R1</th>
    <th>R2</th>
    <th>R3</th>
  </tr>
  </thead> 
</table>
</div>
</div>
</div>



<p></p>
<button type="button" class="collapsible" text-align="cent"><a data-toggle="tooltip" title="See Notes section on algorithm source">&#x1F6C8;</a>Summoning Probabilities</button>
<div class="content"><br>

<div id = "summon_div", class="row">

</div>
</div>
<p></p>
<button type="button" class="collapsible" text-align="cent"><a data-toggle="tooltip" title="Based on data periodically pulled from Sales Auction House (Rent auction, to be implemented) ">&#x1F6C8;</a>Potential Matches </button>
<div class="content"><br>
  <p>To Calculate Match Probabilities, Click on any row in the table below </p>
  <p id="time"> </p>
<table id="data" class="table table-striped" style="cursor:pointer">
  <thead>
    <tr>
      <th>ID</th>
      <th>Total Score<a data-toggle="tooltip" title="Aggretate score of likely Class and Skill upgrade">&#x1F6C8;</a></th>
      <th>Class Score<a data-toggle="tooltip" title="Based on likelihood of complementary class being selected in the summoning process (higher score means higher chance of class upgrade in summon)">&#x1F6C8;</a></th>
      <th>Skill Score<a data-toggle="tooltip" title="Based on likelihood of complementary skill being selected in the summoning process (higher score means higher chance of skill upgrade in summon) averaged over all 4 skills">&#x1F6C8;</a></th>
      <th>Summons</th>
      <th>Class</th>
      <th>Sub Class</th>
      <th>Rarity</th>
      <th>Generation</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</div>
<p></p>
<button type="button" class="collapsible" text-align="cent"> Notes</button>
<div class="content"><br>
<p>Thanks to <a href="https://github.com/0rtis/dfk/tree/master/hero" target="_blank">0tis</a> for Hero and Auction House API code  </p>
<p>Thanks to Mr Zipper for <a href="https://medium.com/@MrZipper7/deep-dive-hero-genetics-975902dfbf80" target="_blank">Class</a> and <a href="https://medium.com/@MrZipper7/deep-dive-active-passive-genes-68315567361c" target="_blank" rel="noopener noreferrer">Skills/Combat </a>Summoning Algorithms  </p>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
  var id_1
  var attris = new Array()
  attris[0] = "Primary_Class"
  attris[1] = "Sub_Class"
  attris[2] = "Passive_1"
  attris[3] = "Passive_2"
  attris[4] = "Active_1"
  attris[5] = "Active_2"
  attris[6] = "Profession"

var coll = document.getElementsByClassName("collapsible");
var i;

function toggleCollapse(coll, i) {
    var content = coll.nextElementSibling;
    if (i == 0) {
      coll.classList.toggle("active");
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    } else if (i == 1) {
      if (content.style.maxHeight){
      } else {
        coll.classList.toggle("active");
        content.style.maxHeight = content.scrollHeight + "px";
      }
    } else {
      if (content.style.maxHeight){
        coll.classList.toggle("active");
        content.style.maxHeight = null;
      } else {
      }
    }
}

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    toggleCollapse(this, 0)   
  });
}
  $(document).ready(function() {
    var empty_matches = null
    tables = document.getElementById("summon_div")
    for (attri in attris) {
       div = document.createElement("div");
       div.className = "column_2" ;
       tab = document.createElement("table");
       tab.id = attris[attri];
       th = document.createElement("thead");
       tr = document.createElement("tr");
       row_head1 = document.createElement("th");
       row_head2 = document.createElement("th");
       row_head1.innerHTML = attris[attri];
       row_head2.innerHTML = "likelihood";
       th.appendChild(row_head1);
       th.appendChild(row_head2);
       tab.appendChild(th) ;
       tab.className = "table table-striped";
       div.appendChild(tab);
       tables.appendChild(div);
    }
    var table_data = $('#data').DataTable({ 
      data : empty_matches, searching : false, info : false,
      retrive : true,
      "aaSorting": [1, "desc"],
      columns: [
        {data: "ID"},
        {data: "Total Score"},
        {data: "Class Score"},
        {data: "Attrib Score"},
        {data: "Summons"},
        {data: "Class"},
        {data: "Sub Class"},
        {data: "Rarity"},
        {data: "Generation"},
        {data: 'Price'}
      ]
    });
    $('#hero1_data').DataTable({ 
      data : empty_matches,
      retrive :true, searching : false, info : false, paging : false, 
      "aaSorting": [],
      columns: [
        {data: "type"},
        {data: "D"},
        {data: "R1"},
        {data: "R2"},
        {data: "R3"}
      ]
    });
    $('#hero2_data').DataTable({ 
      data : empty_matches, 
      retrive : true, searching : false, info : false, paging : false,
      "aaSorting": [],
      columns: [
        {data: "type"},
        {data: "D"},
        {data: "R1"},
        {data: "R2"},
        {data: "R3"}
      ]
    });
    for (attri in attris) {
    $('#' + attris[attri]).DataTable(
      { 
      data : empty_matches,
      retrive : true, searching : false, info : false, paging : false,
      "aaSorting": [],
      columns: [
        {data: "name"},
        {data: "chance"},
      ]
    });
  };
  });
  $("#manual_match").on('click', function() {
    alert("to be implemented")
  })  
  $("#copy_tip").on('click', function() {
    navigator.clipboard.writeText('0xA5aed0dA6d7Ae07815b044702179192eAe5e3984')
  })

  $("#matches").on('click', function() {
    var matches
    var gene_response
    var d_table
    id_1 = $('#hero_ID_1').val()
    $.ajax({
         'type': 'POST',
         'async': false,
         'url': '/api/update',
         'dataType' : 'json',
         'data': $('#hero_ID_1').serialize(), 
         'success': function(res) {    
          matches = res
          }, 
         'error': function(error) {  

         }
    })
   $('#hero1_data').DataTable().clear().rows.add(matches.hero1).draw();
   table_data = $('#data').DataTable().clear().rows.add(matches.matches).draw();
   document.getElementById("hero1_text").innerHTML = "Hero Data for: " + id_1
   $('#hero2_data').DataTable().clear().draw();
   document.getElementById("time").innerHTML = "Auction House data last update: " + matches.last_update + " current time: " + matches.current_time;
   toggleCollapse(coll[1], 1)
   toggleCollapse(coll[2], 2)
   toggleCollapse(coll[3], 1)
   
  });
  $('#data').on('click', 'tbody tr', function () {
        var row_data = table_data.row($(this)).data();
        $.ajax({ 
          url: '/api/match', 
          type: 'POST', 
          data: JSON.stringify({'id_2' : row_data.ID, 'id_1' : id_1}),
          'dataType': 'json',
          success: function(response){ 
            for (attri in attris) {
              $('#' + attris[attri]).DataTable().clear().rows.add(response.summon[attri]).draw();
            }
            $('#hero2_data').DataTable().clear().rows.add(response.hero2).draw();
            toggleCollapse(coll[2], 1)
            document.getElementById("hero2_text").innerHTML = "Hero Data for: " + id_2
          } 
        })
    });
</script>

</body>
</html>