
    * {
      box-sizing: border-box;
    }
    .container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    }
    html {
	font-family: 'VT323', monospace ;
	font-size: 12px;
}

body {
	background: slategray;
	margin: 0;
	overflow-y: scroll;
	padding: 2ch;
	text-align: center;
}
    .input {
      border: 2px solid rgba(0, 0, 0, 0.6);
      background-image:none;
      background-color: #dadad3;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 5px;
    }
    .row {
      margin-left:-5px;
      margin-right:-5px;
    }
      
    .column_2 {
      float: left;
      width: 13.5%;
      padding: 5px;
    }
    .column_1 {
      float: left;
      width: 35%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 2px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }